Repository open-broker/specification, changes with the owners that CODEOWNERS names for each.
All owners: @Torbacka, @mantono, @6185541513, @machalvan, @zinob

CODEOWNERS:

*                           @Torbacka @mantono @6185541513 @machalvan
se/PrivateUnsecuredLoan     @Torbacka @zinob @mantono
se/Mortgage                 @mantono
no/PrivateUnsecuredLoan     @6185541513
no/Mortgage                 @machalvan @mantono

Add value condominiumCompoundDebt
  no/Mortgage/v0/schema/schema.yaml
Owners: @machalvan, @mantono

Update title and description for condominiumCompoundDebt
  no/Mortgage/v0/schema/schema.yaml
Owners: @machalvan, @mantono

Mortgage-NO: Make refinancingProperty a required value
  no/Mortgage/v0/schema/schema.yaml
Owners: @machalvan, @mantono

Add JSON example event for MortgageApplicationCreated
  no/Mortgage/v0/example/MortgageApplicationCreated.json
Owners: @machalvan, @mantono

CircleCI: Validate exmaples for a domain/specification against the specification in order for build to pass
  .circleci/config.yml
  .circleci/test_examples.sh
Owners: @Torbacka, @mantono, @6185541513, @machalvan

Checkout code in build step "test"
  .circleci/config.yml
Owners: @Torbacka, @mantono, @6185541513, @machalvan

Use absolute path
  .circleci/config.yml
Owners: @Torbacka, @mantono, @6185541513, @machalvan

CircleCI: Change execution path in build job
  .circleci/config.yml
Owners: @Torbacka, @mantono, @6185541513, @machalvan

Make paymentRemark required value.
  no/Mortgage/v0/schema/schema.yaml
Owners: @machalvan, @mantono

Use " around regex pattern (for double backslash to work when escaping regex components). Use single apostrophe when only a single backslash is ued.
  no/Mortgage/v0/schema/schema.yaml
Owners: @machalvan, @mantono

Remove properties "housingSinceYear and "housingSinceMonth".
  no/Mortgage/v0/schema/schema.yaml
Owners: @machalvan, @mantono

Update example for MortgageApplicationCreated, include all non-required fields except for a few left out on coApplicant.
  no/Mortgage/v0/example/MortgageApplicationCreated.json
Owners: @machalvan, @mantono

Remove minOfferedCredit and maxOfferedCredit from schema
  no/Mortgage/v0/example/MortgageApplicationRejected.json
  no/Mortgage/v0/example/MortgageOffering.json
  no/Mortgage/v0/schema/schema.yaml
Owners: @machalvan, @mantono

Add JSON example event for MortgageOffering
  no/Mortgage/v0/example/MortgageOffering.json
Owners: @machalvan, @mantono

Remove MortgageApplicationRejected
  no/Mortgage/v0/example/MortgageApplicationRejected.json
Owners: @machalvan, @mantono

Fix incorrect interest rate format
  se/PrivateUnsecuredLoan/example/PrivateUnsecuredLoanOffering.json
Owners: @Torbacka, @zinob, @mantono

Correct bank account pattern
  no/Mortgage/v0/example/MortgageOfferAccepted.json
  no/Mortgage/v0/schema/schema.yaml
Owners: @machalvan, @mantono

Mortgage-NO: Add example for event Mortgage Disbursed
  no/Mortgage/v0/example/MortgageDisbursed.json
Owners: @machalvan, @mantono

Revert "Add property type" (it was added to the wrong specification)
  se/PrivateUnsecuredLoan/schema/PrivateUnsecuredLoanApplicationCreated.yaml
Owners: @Torbacka, @zinob, @mantono

Fix incorrect interest rate format (#80)
  se/PrivateUnsecuredLoan/example/PrivateUnsecuredLoanOffering.json
Owners: @Torbacka, @zinob, @mantono

Add comment in script and display error message if ajv is not installed.
  .circleci/test_examples.sh
Owners: @Torbacka, @mantono, @6185541513, @machalvan

Support parsing cloud events in test cases/examples
  .circleci/test_examples.sh
  no/Mortgage/v0/example/MortgageApplicationCreated.json
Owners: @Torbacka, @mantono, @6185541513, @machalvan

Move interest decimals
  no/Mortgage/v0/example/MortgageOffering.json
Owners: @machalvan, @mantono

Add JSON example event for MortgageOfferAccepted
  no/Mortgage/v0/example/MortgageOfferAccepted.json
Owners: @machalvan, @mantono

Add cloud event metadata to MortgageOffering example
  no/Mortgage/v0/example/MortgageOffering.json
Owners: @machalvan, @mantono

Add cloud event metadata to MortgageOfferAccepted example
  no/Mortgage/v0/example/MortgageOfferAccepted.json
Owners: @machalvan, @mantono

Move interest decimals
  se/PrivateUnsecuredLoan/example/PrivateUnsecuredLoanOffering.json
Owners: @Torbacka, @zinob, @mantono

Create .editorconfig
  .editorconfig
Owners: @Torbacka, @mantono, @6185541513, @machalvan

Update no/Mortgage/v0/schema/schema.yaml
  no/Mortgage/v0/schema/schema.yaml
Owners: @machalvan, @mantono

Make MortgageDisbursed use cloud events
  no/Mortgage/v0/example/MortgageApplicationCreated.json
  no/Mortgage/v0/example/MortgageDisbursed.json
Owners: @machalvan, @mantono

+44 -> +47
  no/Mortgage/v0/example/MortgageApplicationCreated.json
Owners: @machalvan, @mantono

Set correct region in cloud eveny eveny type
  no/Mortgage/v0/example/MortgageOfferAccepted.json
  no/Mortgage/v0/example/MortgageOffering.json
Owners: @machalvan, @mantono

Make property refinanceAmount a required value
  no/Mortgage/v0/schema/schema.yaml
Owners: @machalvan, @mantono

Change place of assessedValue so it is same as in properties list
  no/Mortgage/v0/schema/schema.yaml
Owners: @machalvan, @mantono

Add JSON example event for MortgageOfferRejected
  no/Mortgage/v0/example/MortgageOfferRejected.json
Owners: @machalvan, @mantono

Mortgage-NO: defaulted; Add description
  no/Mortgage/v0/schema/schema.yaml
Owners: @machalvan, @mantono
